#fragmentContainer{
  columns: 300px;
  margin: 0.5rem;
  padding: 1rem;
}

.tag{
  color: rgb(35, 35, 235);
}

.fragment{
  /* border: solid 4px rgb(25, 25, 25); */
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgb(25, 25, 25);
  break-inside: avoid;
  margin: 1rem;
  padding: 1rem;
}

#fragmentForm{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: red;
}

.fragmentContent{
    color: green;
}

.tagContainer{
    display: flex;
    gap: 0.5rem;
}

.tag{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 217, 255);
    width: fit-content;
    min-width: 4ch;
    padding: 0.5rem;
    border-radius: 999px;
}

#fragmentReader{
    background-color: greenyellow;
}